html {
  height: 100%;
}

img{
  width: 100%;
}

body {
  margin: 0;
  height: 100%;
  display: flex;
  background-image: url('./assets/mobile-background.webp');
  background-size: 100% 100%;
  box-shadow: inset 0 0 0 10000px rgba(0, 0, 0, 0.684)
}

@media screen and (width>990px){
  body{background-image: url('./assets/desktop-background.webp');}

}
